asgiref==3.10.0
certifi==2026.2.25
Django==5.2.7
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
gunicorn==25.1.0
packaging==26.0
PyJWT==2.10.1
pymongo==3.11.4
python-decouple==3.8
python-dotenv==1.1.1
pytz==2025.2
sqlparse==0.5.3
